{% extends "admin/base_site.html" %}

{% block content %}
  <form action="" method="POST">
    {% csrf_token %}
    <div>
      <label for="new_owner">Novo Proprietário:</label>
      <select name="new_owner" id="new_owner">
        {% for user in users %}
          <option value="{{ user.id }}">{{ user.username }}</option>
        {% endfor %}
      </select>
    </div>
    <input type="submit" value="Alterar Proprietário">
  </form>

  <h2>Veículos selecionados</h2>
  <ul>
    {% for vehicle in queryset %}
      <li>{{ vehicle.brand }} {{ vehicle.model }} ({{ vehicle.plate }})</li>
    {% endfor %}
  </ul>
{% endblock %}
