<html>
<body>
    <h1>Olá, {{ appointment.user.username }}!</h1>
    <p>
        Há uma atualização referente ao seu agendamento com o protocolo: {{ appointment.protocol }}.
    </p>
    <p>
        Seu mecânico foi alterado. O mecânico anterior era <strong>{{ old_employee }}</strong> e o novo mecânico designado é <strong>{{ new_employee }}</strong>.
    </p>
    <p>
        Se você tiver alguma dúvida, por favor, entre em contato.
    </p>
    <p>
        Atenciosamente, <br>
        Equipe Smart Mecânico
    </p>
</body>
</html>