<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notificação de Alteração de Senha</title>
</head>

<body>
  <h1>Notificação de Alteração de Senha</h1>
  <p>Olá {{ user.first_name }},</p>
  <p>Notamos que sua senha foi recentemente alterada a partir das seguintes informações do dispositivo:</p>
  <ul>
    <li><strong>Endereço IP:</strong> {{ ip_address }}</li>
    <li><strong>Navegador:</strong> {{ browser }}</li>
    <li><strong>Dispositivo:</strong> {{ device }}</li>
    <li><strong>Sistema Operacional:</strong> {{ os_name }} {{ os_version }}</li>
  </ul>
  <p>Se você não fez essa alteração, por favor, verifique sua conta.</p>
  <p>Se foi você quem fez, pode desconsiderar este e-mail.</p>
</body>

</html>